.body {
    text-align: center;

}

.show_table {
    /* border: solid 1px black; */
    text-align: center;
    margin: 0 auto;
}

.title {
    text-align: center;
}
/* tr {
    border: solid 1px black;
} */

td {
    display: inline-block;
    border: solid 1px black;
    margin: 0 0 0 0 ;
    width: 100px;
}